.form-check-input {
    margin-top: 0.2rem!important;
}

.input-group-text {
    padding: 0.6rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #74788d;
    background-color: white!important;
    border: 1px solid #e2e5ec;
    border-left: 0!important;
    border-radius: 0!important;
}

.pass {
    border-right: 0!important;
}


.form-control:focus {
    border-color: #e2e5ec!important;
    box-shadow: none;
}